<!DOCTYPE html>
<html>
  <head>
    <title>部屋の管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h2>部屋の追加とかを行う仮ページ</h2>
    <form method="post" action="">
      <p>id:自動採番</p>
      <input type="text" placeholder="部屋名" name="room_name" />
      <input type="text" placeholder="カテゴリid" name="category_id" />
      <input type="text" placeholder="カテゴリ名" name="category_name" />
      <input
        type="text"
        placeholder="デフォルト：1"
        name="default_flg"
        value="1"
      />
      <input
        type="text"
        placeholder="作成ユーザID"
        name="create_user_id"
        value="0"
      />

      <button>Login</button>
    </form>
  </body>
</html>
