<!DOCTYPE html>
<html>
  <head>
    <title>あいちゃログイン</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="あいちゃは誰でも気軽に楽しめるオンラインチャットです。自分のルームを作って、カメラやマイク機能でお楽しみください。">
    <meta name="author" content="あいちゃ">
    <link rel="stylesheet" href="/index.css" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174561230-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174561230-1");
    </script>
  </head>

  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div class="title">
        <p>あいちゃ</p>
        Powered by <a href="https://aice.cloud" target="_blank">AICE.CLOUD</a>
      </div>
    </div>
    <form
      method="post"
      action="/"
      class="entry"
      onsubmit="return checkParams(this);"
    >
      <div class="login">
        <input type="hidden" id="table_name" name="table_name" value="ロビー" />
        <input type="text" placeholder="あいちゃネーム" name="user_name" />

        <button>Login</button>
        <p class="kiyakulink">
          <a href="https://aice.cloud/aicha/kiyaku.txt" target="_blank"
            >利用規約</a
          >
        </p>
      </div>
    </form>

    <footer>
      Copyright © 2021
      <a href="https://aiforus.co.jp/" target="_blank">AIFORUS,Inc.</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      // 簡易入力チェック
      function checkParams(form) {
        var obj = form.elements.user_name;
        if (obj.value == "") {
          alert("名前を入力してください。");
          return false;
        } else if (obj.value.indexOf("-") !== -1) {
          alert("名前には「-」を使用できません。");
          return false;
        } else {
          return true;
        }
      }
      window.onload = function () {
        Swal.fire({
          title: "あいちゃへようこそ！",
          html:
            "<div class='puwrapper'>" +
            "<p class='subtitle'>あいちゃは登録不要で気軽に楽しめるオンラインチャットです。</p>" +
            "<h5>☆　最新情報　☆</h5>" +
            "<div class='popupnews'><ul>" +
            "<li>正式サービスを開始しました（10/14更新）</li>" +
            "</ul></div>" +
            "<div class='pertationline'></div>" +
            "<h5>※ご利用上の注意点</h5>" +
            "映像、音声機能を有効にするには" +
            "<strong>『カメラとマイクへのアクセス』『Javascript』</strong>" +
            "を許可してください。" +
            "音声、映像が使えない場合は、各ブラウザの設定ページより再設定してください。" +
            "<div class='pertationline'></div>" +
            "<h5>○推奨環境</h5>" +
            "<ul>" +
            "<li>端末　　　PC、Mac、Android、iPhone</li>" +
            "<li>ブラウザ　Chrome、Edge、その他" +
            "</ul>" +
            "<p class='ta-c'>※スマートフォンで参加した場合、レイアウトが最適化されていません。</p>" +
            "<div class='pertationline'></div>" +
            "<h5 class='ta-c'><a class='kiyaku' href='https://aice.cloud/aicha/kiyaku.txt' target='_blank'>利用規約</a>を確認の上、ご利用ください。</h5>" +
            "</div>",
          showCloseButton: false,
          showCancelButton: false,
          focusConfirm: false,
          confirmButtonText: '<i class="fa fa-thumbs-up"></i>確認しました',
          confirmButtonAriaLabel: "Thumbs up, OK!!",
          reverseButtons: true,
          allowOutsideClick: false,
        });
      };
    </script>
  </body>
</html>
