<!DOCTYPE html>
<html>
  <head>
    <title>あいちゃログイン</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/css/index_renomi.css" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174561230-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174561230-1");
    </script>
  </head>

  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="renomititle">
      <h2>りのみ　by あいちゃ</h2>
    </div>

    <div class="windowarea">
      <!-- 招待されている時 -->
      <div id="isInvitedWindow">
        <div id="compartment" class="searviceSelectWindow">
          <div class="glass">/
            <p>「<%- room_name %>」ルームに招待されています。</p>
            <input
              type="hidden"
              id="invited_room_name"
              value="<%- room_name %>"
            />
            <input
              type="hidden"
              id="invited_password"
              value="<%- password %>"
            />
            <input type="text" placeholder="ニックネーム" name="invited_user_name" />
            <button onclick="enterInvited();">お待ち合わせでーす</button>
          </div>
        </div>  
      </div>

      <!-- 招待されていない時 -->
      <div id="notInvitedWindow">
        <div id="lobby" class="searviceSelectWindow">
          <div class="glass">
            <h2>大部屋に入る</h2>
            <input
              type="hidden"
              name="room_name"
              value="lobby"
            />
            <input type="text" placeholder="ニックネーム" id="lobby_user_name" />
            <button onclick="enterLobby();">大部屋入りまーす</button>
          </div>
        </div>
        <div id="compartment" class="searviceSelectWindow">
          <div class="glass">
            <h2>個室に入る</h2>
            <input type="text" placeholder="部屋名" id="new_room_name" />
            <input type="text" placeholder="ニックネーム" id="new_user_name" />
            <button onclick="enterCompartment();">新規さん個室入りまーす</button>
          </div>
        </div>
      </div>

    </div>

    
    
        <p class="kiyakulink">
          <a href="https://aice.cloud/aicha/kiyaku.txt" target="_blank"
            >利用規約</a
          >
        </p>
     
    <footer>
      Copyright © 2020
      <a href="https://aiforus.co.jp/" target="_blank">AIFORUS,Inc.</a>
    </footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      // 簡易入力チェック
      function checkParams(form) {
        var obj = form.elements.user_name;
        if (obj.value == "") {
          alert("名前を入力してください。");
          return false;
        } else if (obj.value.indexOf("-") !== -1) {
          alert("名前には「-」を使用できません。");
          return false;
        } else {
          return true;
        }
      }
      function enterLobby(){
        const params = {
          password: "",
          room_name: "lobby",
          user_name: $("#lobby_user_name").val()
        }
        post("/", params);
      }
      function enterCompartment(){
        const params = {
          password: "",
          room_name: $("#new_room_name").val(),
          user_name: $("#new_user_name").val()
        }
        post("/", params);
      }
      function enterInvited(){
        const params = {
          password: $("#password").val(),
          room_name: $("#invited_room_name").val(),
          user_name: $("#invited_user_name").val()
        }
        post("/", params);
      }

      function post(path, params, method='post') {
        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
          if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = key;
            hiddenField.value = params[key];

            form.appendChild(hiddenField);
          }
        }

        document.body.appendChild(form);
        form.submit();
      }

      window.onload = function () {
        if($("#room_name").val()){
          $("#notInvitedWindow").addClass("hidden");
        }else{
          $("#isInvitedWindow").addClass("hidden");
        }
      };
    </script>
  </body>
</html>
