<!DOCTYPE html>
<html>
  <head>
    <title>あいちゃログイン</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/css/index_renomi.css" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174561230-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174561230-1");
    </script>
  </head>

  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="renomititle">
      <p>LET'S PARTY ONLINE!</p>
      <h2>オリジナルルームがつくれる！</h2>
      <h2>オンライン飲み会専用</h2>
      <h1><span>おんのみ</span>＠あいちゃ</h1>
      <p>Powered by <a href="https://aice.cloud" target="_blank">AICE.CLOUD</a></p>
    </div>
    <p class="forNewBe">
      <span onclick="showWindow();">はじめての方へ</span>
    </p>

    <div class="windowarea">
      <!-- 招待されている時 -->
      <div id="isInvitedWindow">
        <div id="compartment" class="searviceSelectWindow">
          <div class="glass invited_glass">
            <h2>個室に招待されています</h2>
            <p>パスワード付きのビデオチャットルームに入ります</p>
            <input
              type="hidden"
              id="hashed_name"
              value="<%- hashed_name %>"
            />
            <input type="text" placeholder="ニックネーム" id="invited_user_name" />
            <button onclick="enterInvited();">お待ち合わせでーす</button>
          </div>
        </div>  
      </div>

      <!-- 招待されていない時 -->
      <div id="notInvitedWindow">
        <div id="lobby" class="searviceSelectWindow">
          <div class="glass leftglass">
            <h2>大部屋に入る</h2>
            <p>不特定多数の人と一緒にビデオチャットできます</p>
            <input type="text" placeholder="ニックネーム" id="lobby_user_name" />
            <button onclick="enterLobby();">大部屋入りまーす</button>
          </div>
        </div>
        <div id="compartment" class="searviceSelectWindow">
          <div class="glass">
            <h2>個室に入る</h2>
            <p>パスワード付きのルームを作ってお友達を招待できます</p>
            <input type="text" placeholder="ニックネーム" id="new_user_name" />
            <button onclick="enterCompartment();">新規さん個室入りまーす</button>
          </div>
        </div>
      </div>
    </div>
     
    <footer>
      Copyright © 2020
      <a href="https://aiforus.co.jp/" target="_blank">AIFORUS,Inc.</a>
    </footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      // 簡易入力チェック
      function checkParams(form) {
        var obj = form.elements.user_name;
        if (obj.value == "") {
          alert("名前を入力してください。");
          return false;
        } else if (obj.value.indexOf("-") !== -1) {
          alert("名前には「-」を使用できません。");
          return false;
        } else {
          return true;
        }
      }
      function checkName(name) {
        if (name == "") {
          alert("名前を入力してください。");
          return false;
        } else if (name("-") !== -1) {
          alert("名前には「-」を使用できません。");
          return false;
        } else {
          return true;
        }
      }
      
      function enterInvited(){
        if(!checkName($("#invited_user_name").val())) return;
        const params = {
          hashed_name: $("#hashed_name").val(),
          table_name: "renomi",
          user_name: $("#invited_user_name").val()
        }
        post("", params);
      }
      function enterLobby(){
        if(!checkName($("#lobby_user_name").val())) return;
        const params = {
          hashed_name: "",
          table_name: "renomilobby",
          user_name: $("#lobby_user_name").val()
        }
        post("", params);
      }
      function enterCompartment(){
        if(!checkName($("#new_user_name").val())) return;
        const params = {
          hashed_name: "",
          table_name: "renomi",
          user_name: $("#new_user_name").val()
        }
        post("", params);
      }
      

      function post(path, params, method='post') {
        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
          if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = key;
            hiddenField.value = params[key];

            form.appendChild(hiddenField);
          }
        }

        document.body.appendChild(form);
        form.submit();
      }

      function showWindow(){
        Swal.fire({
          title: "あいちゃへようこそ！",
          html:
            "<div class='puwrapper'>" +
            "あいちゃはインターネットを通じ新しい仲間に出会ったり同じ趣味の人と楽しく交流できる空間です。<br/>" +
            "<h5>《最新情報》</h5>" +
            "<div class='popupnews'><ul>" +
            "<li>正式サービスを開始しました（10/14更新）</li>" +
            "</ul></div>" +
            "<div class='pertationline'></div>" +
            "<h5>※使用前の注意</h5>" +
            "音声、映像機能を利用するには、ログイン後、<br>" +
            "<strong>『カメラとマイクへのアクセス』『Javascript』" +
            "を許可</strong>してください。" +
            "音声、映像が使えない場合は、各ブラウザの設定より再設定してください。" +
            "<div class='pertationline'></div>" +
            "<h5>【推奨環境】</h5>" +
            "<ul><li>PC・Mac … Google Chrome、Safari</li></ul>" +
            "<h5>【未対応】</h5>" +
            "<ul><li>iOS(iPhone、iPad等) … 音声、映像に対応準備中です。</li><li>Android　… レイアウト順次対応予定です。</li></ul>" +
            "</div>",
          showCloseButton: false,
          showCancelButton: false,
          focusConfirm: false,
          confirmButtonText: '<i class="fa fa-thumbs-up"></i>確認しました',
          confirmButtonAriaLabel: "Thumbs up, OK!!",
          reverseButtons: true,
          allowOutsideClick: false,
        });
      }

      window.onload = function () {
        if($("#hashed_name").val()){
          $("#notInvitedWindow").addClass("hidden");
        }else{
          $("#isInvitedWindow").addClass("hidden");
        }
      };
    </script>
  </body>
</html>
