<!DOCTYPE html>
<html>
  <head>
    <title>AICE cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/test_css.css" />
  </head>

  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div class="title">
        <p>あいちゃ</p>
        Powered by AICE.CLOUD
      </div>
    </div>
    <form
      method="post"
      action=""
      class="entry"
      onsubmit="return checkParams(this);"
    >
      <div class="login">
        <input type="hidden" id="table_name" name="table_name" value="ロビー" />
        <input type="text" placeholder="username" name="user_name" />

        <button>Login</button>
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      // 簡易入力チェック
      function checkParams(form) {
        var obj = form.elements.user_name;
        if (obj.value == "") {
          alert("名前を入力してください。");
          return false;
        } else if (obj.value.indexOf("-") !== -1) {
          alert("名前には「-」を使用できません。");
          return false;
        } else {
          return true;
        }
      }
      window.onload = function () {
        Swal.fire({
          title: "※メンテナンス中です　",
          html:
            "Sorry, you can not use now... m(_ _;)m<br/>" +
            "Aichaはブラウザの機能を使ってのんびりビデオチャットができるページです。<br/>" +
            "<h3>使えるブラウザ</h3>" +
            "<ul><li>PC…Chrome、safari</li><li>Android…だいたいOK（Chrome推奨）</li></ul>" +
            "<h3>使えないブラウザ</h3>" +
            "<ul><li>PC…Edge、InternetExplorer</li><li>iOS…使えません</li></ul>" +
            "ルームページで<strong>『カメラとマイクへのアクセス』を「許可」</strong>にしてください。",
          showCloseButton: false,
          showCancelButton: true,
          focusConfirm: false,
          confirmButtonText: '<i class="fa fa-thumbs-up"></i> ばっちり!!',
          confirmButtonAriaLabel: "Thumbs up, OK!!",
          cancelButtonText: "入り直す",
          cancelButtonAriaLabel: "Thumbs down",
          reverseButtons: true,
          allowOutsideClick: false,
        });
      };
    </script>
  </body>
</html>
