<!DOCTYPE html>
<html>
  <head>
    <title>AICE cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/test_css.css" />
  </head>

  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div class="title">
        <p>あいちゃ</p>
        Powered by AICE.CLOUD
      </div>
    </div>
    <form
      method="post"
      action=""
      class="entry"
      onsubmit="return checkParams(this);"
    >
      <div class="login">
        <input type="hidden" id="table_name" name="table_name" value="ロビー" />
        <input type="text" placeholder="username" name="user_name" />
        <input type="button" value="Login" />
        <button>Login</button>
      </div>
    </form>

    <script>
      // 簡易入力チェック
      function checkParams(form) {
        var obj = form.elements.user_name;
        if (obj.value == "") {
          alert("名前を入力してください。");
          return false;
        } else if (obj.value.indexOf("-") !== -1) {
          alert("名前には「-」を使用できません。");
          return false;
        } else {
          return true;
        }
      }
    </script>
  </body>
</html>
