* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
}

form.entry {
  max-width: 40ch;
}

.toppage_container {
  text-align: center;
}
.toppage_container > form {
  margin: auto;
  margin-top: 50px;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
}
input:focus {
  border: solid 1px #eea34a;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

/*
.button {
  background-color: #b0c4de;
  border: 0.1rem solid #b0c4de;
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
.button.button-outline,
button.button-outline{
  color: #b0c4de;
}
*/

ul#chat {
  list-style: none;
}

.chat-container {
  height: 200px;
  padding: 10px;
}

div.chatarea {
  width: 100%;
  overflow: auto;
  padding: 5px;
  height: calc(100vh - 220px);
}

.flex {
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.note {
  font-size: 3px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

video {
  object-fit: cover;
}

.videoArea {
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: scroll;
  height: 140px;
}
.videoArea::-webkit-scrollbar {
  display: none;
}
#videoSlider {
  width: max-content;
  white-space: nowrap;
}

.videoWrapper {
  display: inline-block;
}

.membersvideo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0px;
}

.optionalvideo {
  margin-bottom: 57px;
}
/*
.dummyvideo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0px;
  margin-bottom: 76px;
}
*/

.membername {
  font-size: 1px;
  color: #696969;
  text-align: center;
  padding: 0px;
}
#playbutton {
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 0px;
  position: relative;
  bottom: 107px;
  opacity: 0.6;
}
.invisiblize {
  opacity: 0 !important;
}

#container {
  margin-left: -0.5em;
}

#container > div {
  /*position: relative;
  display: inline-block;*/
}
form {
  background-color: transparent;
}

.chatSlide {
  position: absolute;
  width: 100%;
  bottom: 0;
  /*background-color: rgba(255,255,255,0.2);*/
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

.chatToggle {
  position: fixed;
  right: 10px;
  bottom: 0px;
  z-index: 200;
}
.chatform {
  display: inline;
}

.header-button {
  text-align: right;
  margin: 8px;
}
.videoarea {
  position: relative;
  background-color: white;
  z-index: 500;
}
.chatlist > li {
  list-style: none;
}

.inline-button {
  display: inline-flex;
  position: fixed;
  bottom: 10px;
  z-index: 300;
  right: 100px;
}

.footercontrol {
  position: fixed;
  bottom: 10px;
  z-index: 300;
  display: inline-flex;
  background-color: #ffffff;
}

.sendbutton {
  margin-left: 5px;
  margin-top: 4px;
}

.leftarea {
  width: 75%;
}
.rightarea {
  width: 25%;
}

.chat-container > ul > li {
  word-break: break-all;
}

.roomlist_title {
  margin: 0px;
  padding: 0px;
}

.user_list {
  padding: 0px;
  margin: 0px !important;
  font-size: 120%;
}

.member-container {
  position: absolute;
  bottom: 130px;
}

.sidefooter {
  position: absolute;
  bottom: 20px;
}

/*
 * レイアウト調整
*/

table.flametable {
  margin-top: 140px;
  margin-bottom: 0px;
  position: relative;
  z-index: 500;
  color: #696969;
}

table.flametable > tbody > tr.inputtr {
  height: 0px;
}

tr.inputtr > td {
  padding-bottom: 0px;
  padding-top: 0px;
}

body {
  margin: 0px !important;
}

form.chatform {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px !important;
}

#sidebar {
  color: #696969;
}

input.chat-input {
  color: #393939;
}

html,
body,
div#wrapper,
div#main,
.flametable > tbody > tr > td {
  padding-top: 0px;
}

.roomselect {
  background-color: #ffffff;
  height: 30px;
}

.footerfixarea {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nowtalking {
  text-shadow: turquoise 1px 1px 15px, turquoise -1px 1px 15px,
    turquoise 1px -1px 15px, royalblue -1px -1px 15px;
}

.unavailable {
  background-color: black !important;
}

.roundclearbox {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/*
 フローティングアクションボタン
 <a class="fab" href="#">
  <i class="fa fa-share"></i>
 </a>
*/
.fab {
  /*円の部分*/
  /*display: block;*/
  width: 56px; /*幅*/
  height: 56px; /*高さ*/
  background: #03a9f4; /*背景色*/
  text-align: center; /*中央寄せ*/
  border-radius: 50%; /*角丸く*/
  transition: 0.3s; /*滑らかな動きに*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24); /*影*/
  padding-top: 0ex;
}

.fab:hover {
  /*ホバー時*/
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.fab i {
  /*中央のアイコン*/
  color: white;
  line-height: 56px; /*＝幅と高さ*/
  font-size: 18px; /*サイズ*/
  padding-top: 0ex;
}

.fab-green {
  background: linear-gradient(#3cb371, #adff2f);
}

.fab-disable {
  background: #696969;
}

/*背景画像の設定をする*/
.bgImage {
  background: url(assets/images/login.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden; /*ブラー効果でボヤけた部分を非表示*/
  height: 100%;
  padding: 10px;
}

/*:beforeにぼかし効果を設定する*/
.bgImage:before {
  content: "";
  background: inherit; /*.bgImageで設定した背景画像を継承する*/
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1; /*重なり順序を一番下にしておく*/
}
